body {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #e9e6ee;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  visibility: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.topper {
  font-size: 18px;
  color: white;
  background-color: #6c43af;
}

.main-header {
  padding: 1em;
  text-align: center;
}

.main-header__authors {
  float: right;
  text-align: right;
  font-size: 14px;
}

.main-header__info {
  float: left;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.main-container__item {
  margin: 20px;
}

.main-container__item_table {
  flex-grow: 3;
  min-width: 50%;
}

.main-container__item_left-column {
  flex-grow: 1;
}

.main-container__item_left-column__item {
  display: flex;
  flex-direction: column;
  flex-basis: 220px;
}

.content-section {
  padding: 0 0 10px;
  background-color: #ffffff;
}

.content-section__header {
  position: relative;
  height: 3em;
  margin: 0 0 10px;
  font-weight: normal;
  text-align: center;
}

.content-section__header__text {
  display: inline-block;
  margin-top: 0.8em;
}

.content-section_graph {
  margin-bottom: 20px;
}

.result-graph_container {
  text-align: center;
}

.content-section_values {
  margin-top: 20px;
}

.input-form {
  text-align: center;
}

.input-form__container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 10px auto;
}

.input-form__label {
  float: left;
  margin-left: 10px;
  color: #ffffff;
  background-color: #6c43af;
}

.input-form__control {
  flex-grow: 1;
  margin-left: 10px;
}

.input-form__button-list_r {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 5px;
  /* border: 1px solid black; */
}

.input-form__button-list_r__item {
  display: inline;
}

.input-form__control-buttons__container {
  margin: 15px;
}

.input-form__control-buttons__button {
  height: 27px;
  width: 90px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #ffffff;
  background-color: #6c43af;
  border: none;
}

.input-form__control-buttons__button:hover {
  background-color: #513284;
}

.result-table_container {
  bottom: 0;
  right: 0;
  overflow-y: scroll;
}

.result-table {
  width: 100%;
} 
